body {
  margin: 30px auto;
  max-width: 1000px;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 30px 20px;
}
body {
  background-image: url(images/background.png);
background-repeat: repeat;
}

h1 {
  color: red;
  padding: 20px 0px 10px 0px;
}

a {
color: #e79baf;
text-decoration: none;
}
